[submodule "submodules/eagine-core"]
	path = submodules/eagine-core
	url = ../eagine-core.git
	branch = develop
[submodule "submodules/eagine-sslplus"]
	path = submodules/eagine-sslplus
	url = ../eagine-sslplus.git
	branch = develop
[submodule "submodules/eagine-msgbus"]
	path = submodules/eagine-msgbus
	url = ../eagine-msgbus.git
	branch = develop
[submodule "submodules/eagine-shapes"]
	path = submodules/eagine-shapes
	url = ../eagine-shapes.git
	branch = develop
[submodule "submodules/eagine-eglplus"]
	path = submodules/eagine-eglplus
	url = ../eagine-eglplus.git
	branch = develop
[submodule "submodules/eagine-oglplus"]
	path = submodules/eagine-oglplus
	url = ../eagine-oglplus.git
	branch = develop
[submodule "submodules/eagine-oalplus"]
	path = submodules/eagine-oalplus
	url = ../eagine-oalplus.git
	branch = develop
[submodule "submodules/eagine-guiplus"]
	path = submodules/eagine-guiplus
	url = ../eagine-guiplus.git
	branch = develop
[submodule "submodules/eagine-ecs"]
	path = submodules/eagine-ecs
	url = ../eagine-ecs.git
	branch = develop
[submodule "submodules/eagine-app"]
	path = submodules/eagine-app
	url = ../eagine-app.git
	branch = develop

